
<footer class="fixed-bottom">
	<div>
		<div class="container footer d-flex justify-content-center pt-4	">
			<h5>&copy; Copyright <%=Time.current.year%>, Arturo Gabriel</h5>
		</div>
  </div>
</footer>