<div id="<%= dom_id inventory %>">
  <p>
    <strong>Medicine quantity:</strong>
    <%= inventory.medicine_quantity %>
  </p>

  <p>
    <strong>Construction quantity:</strong>
    <%= inventory.construction_quantity %>
  </p>

  <p>
    <strong>Total quantity:</strong>
    <%= inventory.total_quantity %>
  </p>

</div>
