// ARCHIVO DE ESTILOS GLOBALES
/* AZULES */
$azulBancaribe_1:  #002D62;
$azulBancaribe_2: #009FE3;
/* VERDES */
$verdeBancaribe_1: #0097AC;
$verdeBancaribe_2: #009A93;
$verdeBancaribe_3: #73B736;
/* MAGENTA */
$magentaBancaribe_1: #E6007E;
/* NARANJA */
$naranjaBancaribe_1: #EE7601;
/* BLANCOS */
$blanco: #ffffff;
/* NEGROS */
$negro: #000000;
/* BANCARIBE UTILIZA HELVETICA COMO SU FUENTE CORPORATIVA */
$fuenteBancaribe: 'Helvetica', 'Arial', sans-serif;
